:root {
  --color-white: 0 0% 100%;
  --color-dark: 0 0% 20%;

  --color-grey: 0 0% 35%;

  --color-primary-lightblue: 214 86% 80%;

  --default-font-size: 62.5%; /* 10px */

  --box-shadow: 0 1rem 0.6rem 0.25rem hsl(var(--color-dark));
}

html {
  box-sizing: border-box;
  font-size: var(--default-font-size);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  position: relative;
  min-height: 100vh;
  font-family: "Montserrat", sans-serif;
}

main {
  margin: 0 auto;
  max-width: 70%;
}

/* Reusables */

.flex {
  display: flex;
}

.btn {
  white-space: nowrap;
  cursor: pointer;
  padding: 0.5rem 1rem;
  font-size: 1.8rem;
  font-weight: 700;
  border: 0.3rem solid hsl(var(--color-dark));
  box-shadow: 0.2rem 0.2rem hsl(var(--color-dark));
  transition: 0.2s ease box-shadow, 0.2s ease transform;
}

.btn:hover {
  box-shadow: 0.1rem 0.4rem hsl(var(--color-dark));
  transform: translateY(-0.1rem);
}

.btn.light-blue {
  background-color: hsl(var(--color-primary-lightblue));
}

.btn.light-blue:hover {
  background-color: hsl(var(--color-primary-lightblue) / 0.7);
}

/* Navigator */

.navigator {
  background-color: hsl(var(--color-primary-lightblue));
}

.navigator-links {
  margin: 0 auto;
  padding: 3rem 0;
  max-width: 70%;
  justify-content: flex-end;
  align-items: center;
  gap: 2rem;
  list-style: none;
  font-size: 2rem;
}

.navigator-links .nav-link {
  color: hsl(var(--color-white));
  text-decoration: none;
}

.navigator-links li:first-of-type {
  margin-right: auto;
}

/* Upper Header of Main */

.main-upper-header {
  padding: 2rem 0;
  width: 100%;
  align-items: center;
  border-bottom: 0.2rem solid hsl(var(--color-dark));
}

.main-upper-header .location-heading {
  font-size: 3rem;
}

.main-upper-header .adjust-metric {
  font-size: 1.6rem;
  margin-left: auto;
}

/* Week Display Section */

.week-display {
  justify-content: space-between;
  width: 100%;
  text-align: center;
  margin-top: 2rem;
  gap: 2rem;
}

.week-display .day-container {
  flex: 1 0 18rem;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  padding: 2rem;
  background-color: lightgrey;
  font-size: 1.8rem;
  transition: 0.3s ease transform, 0.3s ease box-shadow;
}

.week-display .day-container:hover {
  box-shadow: var(--box-shadow);
  transform: translateY(-0.8rem);
}

.week-display .day-container .weather-img {
  border-radius: 50%;
  width: 100%;
}

.day-container .temperature-container {
  width: 100%;
  justify-content: space-around;
}

.day-container .temperature-container .highs,
.day-container .temperature-container .lows {
  font-weight: 700;
}

.day-container .temperature-container .highs {
  color: hsl(0, 88%, 60%);
}

.day-container .temperature-container .lows {
  color: hsl(216, 88%, 60%);
}

/* Cookie Section */
.cookie-container {
  background-color: hsl(var(--color-white));
  font-size: 1.4rem;
  padding: 1rem;
  border: 0.2rem solid hsl(var(--color-dark));
  gap: 1rem;
  align-items: center;
  max-width: 65rem;
  min-width: 45rem;
  margin: 0 auto;
  position: fixed;
  bottom: 2rem;
  left: 0;
  right: 0;
  opacity: 0;
  user-select: none;
  pointer-events: none;
  transition: 2s ease opacity;
}

.cookie-container.active {
  user-select: initial;
  pointer-events: initial;
  opacity: 1;
}
